<!DOCTYPE html public "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Главная nyddle2.okis.ru</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="/static/css/{{ css }}" type="text/css" media="screen" />
    <!--[if IE 6]><link rel="stylesheet" href="/shablons/472/style.ie6.css" type="text/css" media="screen" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="/shablons/472/style.ie7.css" type="text/css" media="screen" /><![endif]-->
    <script type="text/javascript" src="/shablons/472/script.js"></script>
    </head>
<body>
<!--FjwwFeY1CJ-->
<div id="art-page-background-simple-gradient"><div id="art-page-background-gradient"></div></div>
<div id="art-main">
<div class="art-sheet">

<div class="art-sheet-tl"></div>
<div class="art-sheet-tr"></div>
<div class="art-sheet-bl"></div>
<div class="art-sheet-br"></div>
<div class="art-sheet-tc"></div>
<div class="art-sheet-bc"></div>
<div class="art-sheet-cl"></div>
<div class="art-sheet-cr"></div>
<div class="art-sheet-cc"></div>
<div class="art-sheet-body">

    <div class="art-header">
        <div class="art-header-png"></div>
        <div class="art-header-jpeg"></div>
        <div class="art-logo">
            <h1 id="name-text" class="art-logo-name"><a href="/">nyddle2.okis.ru</a></h1>
            <div id="slogan-text" class="art-logo-text">Добро пожаловать на наш сайт!</div>
        </div>
    </div>

    <div class="art-content-layout">
        <div class="art-content-layout-row">
        <div class="art-layout-cell art-sidebar1"><div class="art-vmenublock">
    <div class="art-vmenublock-tl"></div>
    <div class="art-vmenublock-tr"></div>
    <div class="art-vmenublock-bl"></div>
    <div class="art-vmenublock-br"></div>
    <div class="art-vmenublock-tc"></div>
    <div class="art-vmenublock-bc"></div>
    <div class="art-vmenublock-cl"></div>
    <div class="art-vmenublock-cr"></div>
    <div class="art-vmenublock-cc"></div>
    <div class="art-vmenublock-body">
        <div class="art-vmenublockheader"><div class="l"></div><div class="r"></div><div class="t">Меню</div></div>
        <div class="art-vmenublockcontent">
            <div class="art-vmenublockcontent-body">
                <ul class="art-vmenu">
                <li><a href='/' title='На главную страницу'> <span class="l"></span><span class="r"></span><span class="t">Главная</span></a></li><li><a href='about.html' title='Информация о нашей компании'> <span class="l"></span><span class="r"></span><span class="t">О Нас</span></a></li><li><a href='service.html' title='О наших услугах'> <span class="l"></span><span class="r"></span><span class="t">Наши услуги</span></a></li><li><a href='price.html' title='Наш прайс лист'> <span class="l"></span><span class="r"></span><span class="t">Прайс лист</span></a></li><li><a href='contacts.html' title='Наш адрес'> <span class="l"></span><span class="r"></span><span class="t">Контакты</span></a></li>              </ul>
                <div class="cleared"></div>
                
            </div>
        </div>
        <div class="cleared"></div>
    </div>
    </div>
</div>          <div class="art-layout-cell art-content">
                <div class="art-post">
                    <div class="art-post-tl"></div>
                    <div class="art-post-tr"></div>
                    <div class="art-post-bl"></div>
                    <div class="art-post-br"></div>
                    <div class="art-post-tc"></div>
                    <div class="art-post-bc"></div>
                    <div class="art-post-cl"></div>
                    <div class="art-post-cr"></div>
                    <div class="art-post-cc"></div>
                    <div class="art-post-body">

                        <div class="art-post-inner art-article">
                            <h2 class="art-postheader">Главная</h2>
                            <div class="art-postcontent">
                                <p>
                                    <p align=justify><p>Данный сайт создан при помощи <a href="http://okis.ru">системы создания сайтов</a> Okis.ru</p>
    <p>C помощью Okis можно создавать различные виды сайтов, от простых сайтов визиток, до многофункциональных сайтов, например полноценного интернет магазина.</p>
    <p>Процесс создания сайта весьма прост и доступен любому желающему. Менее чем за 5 минут любой более менее опытный пользователь Интернета может создать свой сайт и приступить к его наполнению информацией.</p>
    <p>Управление сайтом так же сделано специально максимально простым, что бы оно было понятно всем. Визуальный редактор, в котором редактируются тексты позволяет создавать красиво оформленные страницы не зная HTML.</p>
    <p>Ознакомившись с системой Okis.Ru позже каждый пользователь может заказать для своего сайта дополнительные услуги, такие как регистрация доменного имени второго уровня, что открывает ряд дополнительных возможностей. Так сайты с доменов второго уровня автоматически получают возможность создавать неограниченное количество бесплатных почтовых ящиков вида name@domain.ru.</p>
    <p>Заинтересовало? Попробуйте! <a href="http://okis.ru">Создайте свой сайт &raquo;&raquo;&raquo;</a></p></p><div class="share42init" style="margin:10px auto;text-align:center"></div><script type="text/javascript" src="http://okis.ru/share42/share42.js"></script>                              </p>                                
                                <div class="cleared"></div>
                            </div>
                            <div class="cleared"></div>
                        </div>
                        <div class="cleared"></div>
                    </div>
                </div>
            </div>
            <div class="art-layout-cell art-sidebar2"><div class="art-block">
    <div class="art-block-tl"></div>
    <div class="art-block-tr"></div>
    <div class="art-block-bl"></div>
    <div class="art-block-br"></div>
    <div class="art-block-tc"></div>
    <div class="art-block-bc"></div>
    <div class="art-block-cl"></div>
    <div class="art-block-cr"></div>
    <div class="art-block-cc"></div>
    
    <div class="art-block-body">
        <div class="art-blockcontent">
            <div class="art-blockcontent-body">
                <div>
                

<p><b>27.11.14 <a href='/news.708761.otkrytie-sayta.html'>Открытие сайта!</a></b><br />Сегодня наш сайт создан и постепенно будет пополняться полезной информацией.</p><div align='center' class='newsListData'><a href='/subnews..html'>Подписка</a><br /><a href='/rss.php'>RSS</a> <a href='/allnews.0.html'>Все новости</a></div>               </div>
                <div class="cleared"></div>
            </div>
        </div>
        <div class="cleared"></div>
    </div>
    </div>
</div>      </div>
    </div>

    <div class="cleared"></div>
    <div class="art-footer">
        <div class="art-footer-inner">
            <a href="/rss.php" class="art-rss-tag-icon" title="RSS"></a>
            <div class="art-footer-text">
                <p>
                    <a href='/' title='На главную страницу'>Главная</a>&nbsp;&nbsp; <a href='about.html' title='Информация о нашей компании'>О Нас</a>&nbsp;&nbsp; <a href='service.html' title='О наших услугах'>Наши услуги</a>&nbsp;&nbsp; <a href='price.html' title='Наш прайс лист'>Прайс лист</a>&nbsp;&nbsp; <a href='contacts.html' title='Наш адрес'>Контакты</a>&nbsp;&nbsp; <br />
<!-- SITE GENERATOR OKIS.RU -->

<script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter27204104 = new Ya.Metrika({id:27204104, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/27204104" style="position:absolute; left:-9999px;" alt="" /></div></noscript> 

<script type="text/javascript">new Image().src = "//counter.yadro.ru/hit;okis?r" + escape(document.referrer) + ((typeof(screen)=="undefined")?"" : ";s"+screen.width+"*"+screen.height+"*" + (screen.colorDepth?screen.colorDepth:screen.pixelDepth)) + ";u"+escape(document.URL) + ";h"+escape(document.title.substring(0,80)) + ";" +Math.random();</script>

<a href='/map.site.html'>&copy; 2014 nyddle2.okis.ru. Все права принадлежат их правообладателям.</a>

<a href="http://okis.ru" style="display:none">Конструктор сайтов Okis</a><p><!--check code--> </p>
                </p>
            </div>
        </div>
        <div class="art-footer-background"></div>
    </div>
    <div class="cleared"></div>
</div>
</div>


<div class="cleared"></div>

</div>
</body>
</html>

