<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-Strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head> 
    <title>Панель управления сайта newnewnew.okis.ru</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <link rel="stylesheet" type="text/css" href="data/css/style.css" title="default">
    
<script src="uploader/js/jquery.min.js"></script>

<script language="javascript" type="text/javascript" src="jscripts/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="data/css/jquery-ui.css" title="default">

<script language="javascript" type="text/javascript" src="jscripts/jcrop/jquery.Jcrop.js"></script>
<link rel="stylesheet" type="text/css" href="jscripts/jcrop/jquery.Jcrop.css" title="default">

<script type="text/javascript">
$(function(){
    $('input.datepicker').datepicker();
});
</script>

</head>
<body>
    
<script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter27204104 = new Ya.Metrika({id:27204104, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/27204104" style="position:absolute; left:-9999px;" alt="" /></div></noscript> 
    
<script type="text/javascript">new Image().src = "//counter.yadro.ru/hit;okis?r" + escape(document.referrer) + ((typeof(screen)=="undefined")?"" : ";s"+screen.width+"*"+screen.height+"*" + (screen.colorDepth?screen.colorDepth:screen.pixelDepth)) + ";u"+escape(document.URL) + ";h"+escape(document.title.substring(0,80)) + ";" +Math.random();</script>
<div id="wrapper">
        <div id="header">
            <div class="fLeft"><div class="userName"><a href="http://newnewnew.okis.ru/" target="_blank">newnewnew.okis.ru</a> <sup><a href="index.php?act=exit">выход</a></sup></div></div>
            <div class="fRight">
                <a href="?act=balance">Баланс: 0.00 руб.</a> &mdash;
                Cайт не активирован.<br/>
                            </div>
            <div class="Right">
                            </div>
        </div>
        <div id="left">
                        <div class="modules">
                <div class="top">
                    <img class="moduleIcon" src="data/images/icon_01.png" alt="" />
                    <h2 class="title">Управление сайтом</h2>
                </div>
                <ul class="center">
                    <li class="lnk"><a style="background: url(data/images/icon_02.png) no-repeat center left" href="index.php?act=pages">Страницы сайта</a></li>
                    <li class="lnk"><a style="background: url(data/images/icon_03.png) no-repeat center left" href="index.php?act=menusite">Управление меню</a></li>
                    <li class="lnk"><a style="background: url(data/images/icon_04.png) no-repeat center left" href="index.php?act=images">Загрузка фото</a> / <a href="index.php?act=files" class="second">файлов</a></li>
                    <li class="centerBottom"></li>
                </ul>
                <div class="bottom"></div>
            </div>
            <div class="modules">
                <div class="top">
                    <img class="moduleIcon" src="data/images/icon_06.png" alt="" />
                    <h2 class="title">Платные услуги</h2>
                </div>
                <ul class="center">
                    <li class="lnk"><a style="background: url(data/images/icon_07.png) no-repeat center left" href="index.php?act=balance">Пополнение баланса</a></li>
                    <li class="lnk"><a style="background: url(data/images/icon_08.png) no-repeat center left" href="index.php?act=hosting">Платный тариф</a></li>
                    <li class="lnk"><a style="background: url(data/images/icon_25.png) no-repeat center left" href="index.php?act=support">Служба поддержки</a></li>
                    <li class="lnk"><a style="background: url(data/images/ui-scroll.png) no-repeat center left" href="index.php?act=ydirect">Раскрутка сайта</a></li>
                    <li class="lnk"><a style="background: url(data/images/trophy.png) no-repeat center left" href="index.php?act=we">Продвижение в поисковиках</a> </li>
                    
                    <li class="centerBottom"></li>
                </ul>
                <div class="bottom"></div>
            </div>
            <div class="modules">
                <div class="top">
                    <img class="moduleIcon" src="data/images/icon_09.png" alt="" />
                    <h2 class="title">Настройки</h2>
                </div>
                <ul class="center">
                    <li class="lnk"><a style="background: url(data/images/icon_10.png) no-repeat center left" href="index.php?act=edit_site">Параметры сайта</a></li>
                    <li class="lnk"><a style="background: url(data/images/icon_12.png) no-repeat center left" href="index.php?act=autodomain">Доменное имя</a></li>
                    <li class="lnk"><a style="background: url(data/images/icon_11.png) no-repeat center left" href="index.php?act=edit_design">Шаблоны оформления сайта</a></li>
                    <li class="lnk"><a style="background: url(data/images/icon_14.png) no-repeat center left" href="index.php?act=css">Редактировать CSS</a> / <a href="index.php?act=template" class="second">шаблон</a></li>
                    <li class="lnk"><a style="background: url(data/images/icon_13.png) no-repeat center left" href="index.php?act=counters">Установка счетчиков</a> / <a href="index.php?act=adv" class="second">рекламы</a></li>
                    <li class="centerBottom"></li>
                </ul>
                <div class="bottom"></div>
            </div>
            <div class="modules">
                <div class="top">
                    <img class="moduleIcon" src="data/images/icon_17.png" alt="" />
                    <h2 class="title">Модули</h2>
                </div>
                <ul class="center">
                    <li class="lnk"><a style="background: url(data/images/icon_18.png) no-repeat center left" href="index.php?act=news">Новостная лента</a></li>
                    <li class="lnk"><a style="background: url(data/images/icon_19.png) no-repeat center left" href="index.php?act=inetmag">Интернет-магазин</a></li>
                    <li class="lnk"><a style="background: url(data/images/icon_19.png) no-repeat center left" href="index.php?act=store">Интернет-магазин 2.0</a> <span style="color:gray">&beta;eta</span></li>
                    <li class="lnk"><a style="background: url(data/images/icon_20.png) no-repeat center left" href="index.php?act=photogallery">Фотогалерея</a></li>
                    <li class="lnk"><a style="background: url(data/images/icon_21.png) no-repeat center left" href="index.php?act=forma">Форма обратной связи</a></li>
                    <li class="lnk"><a style="background: url(data/images/yapi.png) no-repeat center left" href="index.php?act=yapi">Яндекс.Вебмастер</a></li>
                    <li class="centerBottom"></li>
                </ul>
                <div class="bottom"></div>
            </div>
            
            <div class="modules">
                <div class="top">
                    <img class="moduleIcon" src="data/images/icon_22.png" alt="" />
                    <h2 class="title">Дополнительно</h2>
                </div>
                <ul class="center">
                    <li class="lnk"><a style="background: url(data/images/icon_23.png) no-repeat center left" href="index.php?act=partner">Партнерская программа</a></li>
                    <!--li class="lnk"><a style="background: url(data/images/icon_24.png) no-repeat center left" href="index.php?act=catalog">Каталог сайтов</a></li-->
                                                            <li class="centerBottom"></li>
                </ul>
                <div class="bottom"></div>
            </div>
        </div>
        <div id="right">
            <div class="module">
                <div class="top">
                    <img class='moduleIcon' src='/admin/data/images/icon_28.png' alt=''>
                    <h2 class="title"><div style='margin-left:35px'>Главная страница</div></h2>
                </div>
                <div class="center">
                    <div class='attention'>
            <div class='attTop'></div>
            <span>Ваш сайт не активирован. Это значит, что он закрыт для индексации поисковыми системами.<br/> Для активации сайта <a href='index.php?act=balance'>пополните счет</a> на любую сумму или <a href='index.php?act=autodomain'>подключите к сайту домен</a>.</span>
            <div class='attBottom'></div>
            </div>                      <div class="table">
                        <h2 class="title">Новости сервиса</h2>
                        <a class="pageAdd" href="http://okis.ru/allnews.0.html" target="_blank">Все новости системы</a>
                        <div class="clear"></div>
                        </div>
                        <table border="0" cellpadding="0" cellspacing="0" align="left">
                        <tr>
                            <td class="tableTitles">Дата</td>
                            <td class="tableTitles">Заголовок</td>
                        </tr>
                        <tr><td class="tableSpacer"></td></tr>
                                                    <tr >
                                <td class="tableItem" align="center" style="color:gray">15.09.14</td>
                                <td class="tableItem">
                                <img src="data/images/icon_18.png" alt="" /> 
                                <a href="http://okis.ru/news.684208.vremennye-problemy-so-stabilynoy-rabotoy-servisa.html" target="_blank">Временные проблемы со стабильной работой сервиса</a>
                                                                <p><p>На наш сервис была совершена сетевая атака. До настоящего момента все подобные инциденты успешно отражались, не сказываясь на работе сайта, однако в этот раз наш ресурс был недоступен некоторое время. В настоящий момент атака продолжается, но Окис надежно от нее защищен.</p></p>
                                </td>
                                </tr>
                                                    <tr class="hightlight">
                                <td class="tableItem" align="center" style="color:gray">23.06.14</td>
                                <td class="tableItem">
                                <img src="data/images/icon_18.png" alt="" /> 
                                <a href="http://okis.ru/news.665133.novye-shablony.html" target="_blank">Новые шаблоны</a>
                                                                <p><p>В систему были интегрированы десятки новых шаблонов, улучшена их классификация, а также удалены некоторое устаревшие варианты.</p></p>
                                </td>
                                </tr>
                                                    <tr >
                                <td class="tableItem" align="center" style="color:gray">22.04.14</td>
                                <td class="tableItem">
                                <img src="data/images/icon_18.png" alt="" /> 
                                <a href="http://okis.ru/news.649552.bonus-pri-popolnenii-balansa.html" target="_blank">Бонус при пополнении баланса</a>
                                                                <p><p>При любом пополнении баланса до 1 мая, начисляется <strong>дополнительный бонус</strong> 5% к сумме платежа!</p></p>
                                </td>
                                </tr>
                                                    <tr class="hightlight">
                                <td class="tableItem" align="center" style="color:gray">28.03.14</td>
                                <td class="tableItem">
                                <img src="data/images/icon_18.png" alt="" /> 
                                <a href="http://okis.ru/news.641103.obnovlenie-internet-magazina-i-povyshenie-tarifov.html" target="_blank">Обновление интернет-магазина и повышение тарифов</a>
                                                                <p><p>Спешим вас уведомить, что в системе произошло повышение цен на "платный тариф". Теперь месячная стоимость составляет 199 рублей, но даже несмотря на это, <strong>мы остаемся одним из самых дешевых конструкторов</strong> сайтов.</p>
<p>Также обращаем внимание на то, что <strong>с 1 апреля будет остановлена возможность редактировать старый интернет-магазин</strong>, а с 1 мая <strong>полностью остановится его поддержка</strong>. Рекомендуем переходить на новый интернет-магазин. Теперь там доступны промо-коды и много других возможностей, позволяющих увеличить ваши продажи.</p></p>
                                </td>
                                </tr>
                                                    <tr >
                                <td class="tableItem" align="center" style="color:gray">14.03.14</td>
                                <td class="tableItem">
                                <img src="data/images/icon_18.png" alt="" /> 
                                <a href="http://okis.ru/news.635924.socialynye-vidgety.html" target="_blank">Социальные виджеты</a>
                                                                <p><p>В разделе "параметры сайта" появилась возможность подключать кнопки шаринга социальных сетей.</p></p>
                                </td>
                                </tr>
                                                    <tr class="hightlight">
                                <td class="tableItem" align="center" style="color:gray">25.02.14</td>
                                <td class="tableItem">
                                <img src="data/images/icon_18.png" alt="" /> 
                                <a href="http://okis.ru/news.629771.novyy-internet-magazin.html" target="_blank">Новый интернет-магазин</a>
                                                                <p><p>В режиме тестирования была запущена новая версия магазина. После того, как будут собраны все предложения и пожелания по улучшению <a href="http://forum.okis.ru/viewtopic.php?f=13&amp;t=4388" target="_blank">на нашем форуме</a>, все магазины системы будут переведены на новый движок.</p></p>
                                </td>
                                </tr>
                                                    <tr >
                                <td class="tableItem" align="center" style="color:gray">30.12.13</td>
                                <td class="tableItem">
                                <img src="data/images/icon_18.png" alt="" /> 
                                <a href="http://okis.ru/news.604572.s-nastupayushim-novym-godom.html" target="_blank">С наступающим Новым годом!</a>
                                                                <p><p>Поздравляем вас с наступающим Новым 2014 годом! Если верить гороскопам, то год грядущий будет, прежде всего, годом целеустремленных людей, которые способны добиваться превосходных результатов, пусть даже не самым легким путем. Пусть этот год станет поистине вашим, и вы достигнете всех поставленных перед собой целей.</p></p>
                                </td>
                                </tr>
                                            </table>
                        <div class="clear"></div>
                                        
                    

                    <div class="centerBottom"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div id="footer">
            <span class="fleft">
                <!--a href="http://pro-okis.ru" target="_blank">Помощь по конструктору</a>  |-->
                <a href="http://forum.okis.ru" target="_blank">Форум</a>  |
                <a href="http://domains.okis.ru" target="_blank">Домены</a> |
                <a href="http://neotext.ru" target="_blank">Тексты для сайтов</a> |
                <a href="http://mypage.ru" target="_blank">Создать блог</a>
            </span>
            <span class="fright">&copy; 2008&#150;2014 <a href="http://www.okis.ru" target="_blank">Okis.ru</a> &mdash; система создания сайтов.</span>
        </div>
    </div>

<script type="text/javascript">
    var reformalOptions = {
        project_id: 37528,
        project_host: "okishosting.reformal.ru",
        force_new_window: false,
        tab_alignment: "left",
        tab_top: "220",
        tab_bg_color: "#F05A00",
        tab_image_url: "http://tab.reformal.ru/0J7RgtC30YvQstGLINC4INC%252F0YDQtdC00LvQvtC20LXQvdC40Y8=/FFFFFF/68e79450dc86b626f0e75324b8edfb7e"
    };
    
    (function() {
        var script = document.createElement('script');
        script.type = 'text/javascript'; script.async = true;
        script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v1/reformal.js?1';
        document.getElementsByTagName('head')[0].appendChild(script);
    })();
</script>

</body>
</html>

