{% extends 'useradmin/base.html' %}
{% block main %}
<div class="table">
                        <h2 class="title">Новости сервиса</h2>
                        <a class="pageAdd" href="http://okis.ru/allnews.0.html" target="_blank">Все новости системы</a>
                        <div class="clear"></div>
                        </div>
                        <table border="0" cellpadding="0" cellspacing="0" align="left">
                        <tr>
                            <td class="tableTitles">Дата</td>
                            <td class="tableTitles">Заголовок</td>
                        </tr>
                        <tr><td class="tableSpacer"></td></tr>
                                                    <tr >
                                <td class="tableItem" align="center" style="color:gray">15.09.14</td>
                                <td class="tableItem">
                                <img src="data/images/icon_18.png" alt="" /> 
                                <a href="http://okis.ru/news.684208.vremennye-problemy-so-stabilynoy-rabotoy-servisa.html" target="_blank">Временные проблемы со стабильной работой сервиса</a>
                                                                <p><p>На наш сервис была совершена сетевая атака. До настоящего момента все подобные инциденты успешно отражались, не сказываясь на работе сайта, однако в этот раз наш ресурс был недоступен некоторое время. В настоящий момент атака продолжается, но Окис надежно от нее защищен.</p></p>
                                </td>
                                </tr>
                                                    <tr class="hightlight">
                                <td class="tableItem" align="center" style="color:gray">23.06.14</td>
                                <td class="tableItem">
                                <img src="data/images/icon_18.png" alt="" /> 
                                <a href="http://okis.ru/news.665133.novye-shablony.html" target="_blank">Новые шаблоны</a>
                                                                <p><p>В систему были интегрированы десятки новых шаблонов, улучшена их классификация, а также удалены некоторое устаревшие варианты.</p></p>
                                </td>
                                </tr>
                                                    <tr >
                                <td class="tableItem" align="center" style="color:gray">22.04.14</td>
                                <td class="tableItem">
                                <img src="data/images/icon_18.png" alt="" /> 
                                <a href="http://okis.ru/news.649552.bonus-pri-popolnenii-balansa.html" target="_blank">Бонус при пополнении баланса</a>
                                                                <p><p>При любом пополнении баланса до 1 мая, начисляется <strong>дополнительный бонус</strong> 5% к сумме платежа!</p></p>
                                </td>
                                </tr>
                                                    <tr class="hightlight">
                                <td class="tableItem" align="center" style="color:gray">28.03.14</td>
                                <td class="tableItem">
                                <img src="data/images/icon_18.png" alt="" /> 
                                <a href="http://okis.ru/news.641103.obnovlenie-internet-magazina-i-povyshenie-tarifov.html" target="_blank">Обновление интернет-магазина и повышение тарифов</a>
                                                                <p><p>Спешим вас уведомить, что в системе произошло повышение цен на "платный тариф". Теперь месячная стоимость составляет 199 рублей, но даже несмотря на это, <strong>мы остаемся одним из самых дешевых конструкторов</strong> сайтов.</p>
<p>Также обращаем внимание на то, что <strong>с 1 апреля будет остановлена возможность редактировать старый интернет-магазин</strong>, а с 1 мая <strong>полностью остановится его поддержка</strong>. Рекомендуем переходить на новый интернет-магазин. Теперь там доступны промо-коды и много других возможностей, позволяющих увеличить ваши продажи.</p></p>
                                </td>
                                </tr>
                                                    <tr >
                                <td class="tableItem" align="center" style="color:gray">14.03.14</td>
                                <td class="tableItem">
                                <img src="data/images/icon_18.png" alt="" /> 
                                <a href="http://okis.ru/news.635924.socialynye-vidgety.html" target="_blank">Социальные виджеты</a>
                                                                <p><p>В разделе "параметры сайта" появилась возможность подключать кнопки шаринга социальных сетей.</p></p>
                                </td>
                                </tr>
                                                    <tr class="hightlight">
                                <td class="tableItem" align="center" style="color:gray">25.02.14</td>
                                <td class="tableItem">
                                <img src="data/images/icon_18.png" alt="" /> 
                                <a href="http://okis.ru/news.629771.novyy-internet-magazin.html" target="_blank">Новый интернет-магазин</a>
                                                                <p><p>В режиме тестирования была запущена новая версия магазина. После того, как будут собраны все предложения и пожелания по улучшению <a href="http://forum.okis.ru/viewtopic.php?f=13&amp;t=4388" target="_blank">на нашем форуме</a>, все магазины системы будут переведены на новый движок.</p></p>
                                </td>
                                </tr>
                                                    <tr >
                                <td class="tableItem" align="center" style="color:gray">30.12.13</td>
                                <td class="tableItem">
                                <img src="data/images/icon_18.png" alt="" /> 
                                <a href="http://okis.ru/news.604572.s-nastupayushim-novym-godom.html" target="_blank">С наступающим Новым годом!</a>
                                                                <p><p>Поздравляем вас с наступающим Новым 2014 годом! Если верить гороскопам, то год грядущий будет, прежде всего, годом целеустремленных людей, которые способны добиваться превосходных результатов, пусть даже не самым легким путем. Пусть этот год станет поистине вашим, и вы достигнете всех поставленных перед собой целей.</p></p>
                                </td>
                                </tr>
                                            </table>
{% endblock %}
