{% extends 'useradmin/base.html' %}
{% block main %}
<div class="table">
<h2 class="title">Разделы меню</h2>
<a class="pageAdd" href="index.php?act=add_page">Добавить страницу</a>
<a class="pageAdd" href="index.php?act=add_menu">Добавить меню</a>
<div class="clear"></div>
</div>


<table border="0" cellpadding="0" cellspacing="0" align="left">
<tr>
<td class="tableTitles">Текст</td>
<td class="tableTitles">URL</td>
<td class="tableTitles">Вверх</td>
<td class="tableTitles">Вниз</td>
<td class="tableTitles">Подменю</td>
<td class="iconsEdit"></td>

</tr>
<tr><td class="tableSpacer"></td></tr>
    <tr >
        <td class="tableItem"><img src="data/images/icon_03.png" alt="" /> <b title="Информация о нашей компании">О Нас</b></td>
        <td class="tableItem">/about.html</td>
        <td class="tableItem" align="center"><a href="index.php?act=menutop&n=-1&id=3623666" title='Сдвинуть вверх'><img src="data/images/arrow-090.png" width=16 height=16></a></td>
        <td class="tableItem" align="center"><a href="index.php?act=menutop&n=1&id=3623666" title='Сдвинуть вниз'><img src="data/images/arrow-270.png" width=16 height=16></a></td>
        <td class="tableItem" align="center"><a href="index.php?act=add_submenu&id=3623666" title='Добавить пункт подменю'><img src="data/images/document-plus.png" width=16 height=16></a></td>
        <td class="tableItem itemEdit">
            <a href="index.php?act=delete_menu&id=3623666" class="delete" title="Удалить" onClick='return confirm("Вы уверены?");'></a>
            <a href="index.php?act=edit_menu&id=3623666" class="edit" title="Редактировать элемент"></a>
        </td>
    </tr>
    <tr class="hightlight">
        <td class="tableItem"><img src="data/images/icon_03.png" alt="" /> <b title="На главную страницу">Главная</b></td>
        <td class="tableItem">/</td>
        <td class="tableItem" align="center"><a href="index.php?act=menutop&n=-1&id=3623667" title='Сдвинуть вверх'><img src="data/images/arrow-090.png" width=16 height=16></a></td>
        <td class="tableItem" align="center"><a href="index.php?act=menutop&n=1&id=3623667" title='Сдвинуть вниз'><img src="data/images/arrow-270.png" width=16 height=16></a></td>
        <td class="tableItem" align="center"><a href="index.php?act=add_submenu&id=3623667" title='Добавить пункт подменю'><img src="data/images/document-plus.png" width=16 height=16></a></td>
        <td class="tableItem itemEdit">
            <a href="index.php?act=delete_menu&id=3623667" class="delete" title="Удалить" onClick='return confirm("Вы уверены?");'></a>
            <a href="index.php?act=edit_menu&id=3623667" class="edit" title="Редактировать элемент"></a>
        </td>
    </tr>
    <tr >
        <td class="tableItem"><img src="data/images/icon_03.png" alt="" /> <b title="О наших услугах">Наши услуги</b></td>
        <td class="tableItem">/service.html</td>
        <td class="tableItem" align="center"><a href="index.php?act=menutop&n=-1&id=3623668" title='Сдвинуть вверх'><img src="data/images/arrow-090.png" width=16 height=16></a></td>
        <td class="tableItem" align="center"><a href="index.php?act=menutop&n=1&id=3623668" title='Сдвинуть вниз'><img src="data/images/arrow-270.png" width=16 height=16></a></td>
        <td class="tableItem" align="center"><a href="index.php?act=add_submenu&id=3623668" title='Добавить пункт подменю'><img src="data/images/document-plus.png" width=16 height=16></a></td>
        <td class="tableItem itemEdit">
            <a href="index.php?act=delete_menu&id=3623668" class="delete" title="Удалить" onClick='return confirm("Вы уверены?");'></a>
            <a href="index.php?act=edit_menu&id=3623668" class="edit" title="Редактировать элемент"></a>
        </td>
    </tr>
    <tr class="hightlight">
        <td class="tableItem"><img src="data/images/icon_03.png" alt="" /> <b title="Наш прайс лист">Прайс лист</b></td>
        <td class="tableItem">/price.html</td>
        <td class="tableItem" align="center"><a href="index.php?act=menutop&n=-1&id=3623669" title='Сдвинуть вверх'><img src="data/images/arrow-090.png" width=16 height=16></a></td>
        <td class="tableItem" align="center"><a href="index.php?act=menutop&n=1&id=3623669" title='Сдвинуть вниз'><img src="data/images/arrow-270.png" width=16 height=16></a></td>
        <td class="tableItem" align="center"><a href="index.php?act=add_submenu&id=3623669" title='Добавить пункт подменю'><img src="data/images/document-plus.png" width=16 height=16></a></td>
        <td class="tableItem itemEdit">
            <a href="index.php?act=delete_menu&id=3623669" class="delete" title="Удалить" onClick='return confirm("Вы уверены?");'></a>
            <a href="index.php?act=edit_menu&id=3623669" class="edit" title="Редактировать элемент"></a>
        </td>
    </tr>
    <tr >
        <td class="tableItem"><img src="data/images/icon_03.png" alt="" /> <b title="Наш адрес">Контакты</b></td>
        <td class="tableItem">/contacts.html</td>
        <td class="tableItem" align="center"><a href="index.php?act=menutop&n=-1&id=3623670" title='Сдвинуть вверх'><img src="data/images/arrow-090.png" width=16 height=16></a></td>
        <td class="tableItem" align="center"><a href="index.php?act=menutop&n=1&id=3623670" title='Сдвинуть вниз'><img src="data/images/arrow-270.png" width=16 height=16></a></td>
        <td class="tableItem" align="center"><a href="index.php?act=add_submenu&id=3623670" title='Добавить пункт подменю'><img src="data/images/document-plus.png" width=16 height=16></a></td>
        <td class="tableItem itemEdit">
            <a href="index.php?act=delete_menu&id=3623670" class="delete" title="Удалить" onClick='return confirm("Вы уверены?");'></a>
            <a href="index.php?act=edit_menu&id=3623670" class="edit" title="Редактировать элемент"></a>
        </td>
    </tr>
</table>
{% endblock %}
