{% extends 'useradmin/base.html' %}
{% block main %}
<table style="border:1px solid #E4E4E4;background:#F9F6E5">
<tr>
<td width="50%" style="background:#F9F6E5;padding:5px">
    <form action="" method="post">
    <input type="hidden" name="action" value="create_folder" />
    <input type="text" name="fname" value="Название папки" style="width:230px;color:gray" onfocus="if (this.value=='Название папки')  this.value='';" onblur="if (this.value=='') this.value='Название папки';" /> 
    <input type="submit" value="Создать" />
    </form>
</td>
<td width="50%" style="background:#F9F6E5;padding:5px" align="right">
    <form action="index.php" method="get" enctype="">
    <input type="hidden" name="act" value="pages" />
    <input type="text" name="s" value="Поиск страницы" style="width:230px;color:gray" onfocus="if (this.value=='Поиск страницы')  this.value='';" onblur="if (this.value=='') this.value='Поиск страницы';"/> 
    <input type="submit" value="Найти" />
    </form>
</td>
</tr>
</table>

<div class="table">
<h2 class="title">Список страниц</h2>
<a class="pageAdd" href="index.php?act=add_page">Добавить страницу</a>
<div class="clear"></div>
</div>

<table border="0" cellpadding="0" cellspacing="0" align="left">
<tr>
<td class="tableTitles">Страница</td>
<td class="tableTitles">Заголовок (title)</td>
<td class="tableTitles">Заголовок текста (h1)</td>
<td class="iconsEdit"></td>
</tr>
<tr><td class="tableSpacer"></td></tr>

    
<tr >
<td class="tableItem"><nobr><a href='/about.html' target="_blank"><img src="data/images/icon_29.png" alt="" />about.html</a></nobr></td>
<td class="tableItem">О Нас</td>
<td class="tableItem">О Нас</td>
<td class="tableItem itemEdit">
    <a href="index.php?act=delete_page&id=4447477" class="delete" title="Удалить" onClick='return confirm("Вы уверены, что хотите удалить страницу?");'></a>
    <a href="index.php?act=edit_page2&id=4447477" class="html" title="Редактировать без визуального редактора"></a>
    <a href="index.php?act=edit_page&id=4447477" class="edit" title="Редактировать с визуальным редактором"></a>
</td>
</tr>
<tr class="hightlight">
<td class="tableItem"><nobr><a href='/contacts.html' target="_blank"><img src="data/images/icon_29.png" alt="" />contacts.html</a></nobr></td>
<td class="tableItem">Контакты</td>
<td class="tableItem">Контакты</td>
<td class="tableItem itemEdit">
    <a href="index.php?act=delete_page&id=4447480" class="delete" title="Удалить" onClick='return confirm("Вы уверены, что хотите удалить страницу?");'></a>
    <a href="index.php?act=edit_page2&id=4447480" class="html" title="Редактировать без визуального редактора"></a>
    <a href="index.php?act=edit_page&id=4447480" class="edit" title="Редактировать с визуальным редактором"></a>
</td>
</tr>
<tr >
<td class="tableItem"><nobr><a href='/index.html' target="_blank"><img src="data/images/icon_29.png" alt="" />index.html</a></nobr></td>
<td class="tableItem">Главная</td>
<td class="tableItem">Главная</td>
<td class="tableItem itemEdit">
    <a href="index.php?act=delete_page&id=4447476" class="delete" title="Удалить" onClick='return confirm("Вы уверены, что хотите удалить страницу?");'></a>
    <a href="index.php?act=edit_page2&id=4447476" class="html" title="Редактировать без визуального редактора"></a>
    <a href="index.php?act=edit_page&id=4447476" class="edit" title="Редактировать с визуальным редактором"></a>
</td>
</tr>
<tr class="hightlight">
<td class="tableItem"><nobr><a href='/kjhkjh.html' target="_blank"><img src="data/images/icon_29.png" alt="" />kjhkjh.html</a></nobr></td>
<td class="tableItem">hello</td>
<td class="tableItem">hello</td>
<td class="tableItem itemEdit">
    <a href="index.php?act=delete_page&id=4478809" class="delete" title="Удалить" onClick='return confirm("Вы уверены, что хотите удалить страницу?");'></a>
    <a href="index.php?act=edit_page2&id=4478809" class="html" title="Редактировать без визуального редактора"></a>
    <a href="index.php?act=edit_page&id=4478809" class="edit" title="Редактировать с визуальным редактором"></a>
</td>
</tr>
<tr >
<td class="tableItem"><nobr><a href='/price.html' target="_blank"><img src="data/images/icon_29.png" alt="" />price.html</a></nobr></td>
<td class="tableItem">Цены</td>
<td class="tableItem">Цены</td>
<td class="tableItem itemEdit">
    <a href="index.php?act=delete_page&id=4447479" class="delete" title="Удалить" onClick='return confirm("Вы уверены, что хотите удалить страницу?");'></a>
    <a href="index.php?act=edit_page2&id=4447479" class="html" title="Редактировать без визуального редактора"></a>
    <a href="index.php?act=edit_page&id=4447479" class="edit" title="Редактировать с визуальным редактором"></a>
</td>
</tr>
<tr class="hightlight">
<td class="tableItem"><nobr><a href='/service.html' target="_blank"><img src="data/images/icon_29.png" alt="" />service.html</a></nobr></td>
<td class="tableItem">Наши услуги</td>
<td class="tableItem">Наши услуги</td>
<td class="tableItem itemEdit">
    <a href="index.php?act=delete_page&id=4447478" class="delete" title="Удалить" onClick='return confirm("Вы уверены, что хотите удалить страницу?");'></a>
    <a href="index.php?act=edit_page2&id=4447478" class="html" title="Редактировать без визуального редактора"></a>
    <a href="index.php?act=edit_page&id=4447478" class="edit" title="Редактировать с визуальным редактором"></a>
</td>
</tr>
</table>
<div class="clear"></div>

<div class="notes">
    <span class="item">У каждого сайта должна быть минимум одна главная страница, она должна называться index.html.</span>
    <span class="item">Страницы можно называть только латинскими буквами. Например, myPage.html.</span>
    <span class="item">В названии страницы сайта не должны присутствовать пробелы, используйте вместо них символ &laquo;_&raquo;.</span>
    <span class="item">Для создания постраничной навигации, создавайте страницы по образцу: PAGE.pgN.html, где PAGE - название страницы, N - ее номер. Например, book.pg1.html, book.pg2.html и т. д.</span>
</div>
                    
                    

                    <div class="centerBottom"></div>
                </div>
            </div>
        </div>

{% endblock %}
