html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
body{background:#fff url(img/bg-body.png) repeat-x;font-size:12px;line-height:18px;color:#000;font-family:Arial, Helvetica, sans-serif}
a{color:#20499c}
a:hover{text-decoration:none}
p{margin-bottom:20px}
h1{font-size:18px;line-height:24px;text-transform:uppercase;font-weight:400;color:#20499c} /* 787878 */
h2{font-size:16px;font-weight:400;font-style:italic;color:#20499c}
h3{font-size:14px;font-weight:400;font-style:italic;color:#787878}
html,body{height:100%}
html{overflow-y:scroll}
#container{min-height:100%;background:url(img/bg-top.jpg) center top no-repeat}
#header{position:relative;height:54px;max-width:1000px;min-width:960px;margin:0 auto}
#logo{width:159px;height:26px;display:block;background:url(img/logo.png) 0 0 no-repeat;position:absolute;top:13px;left:28px}
#top-menu{position:relative}
#top-menu-right{position:absolute;right:0;top:0;z-index:2;width:25px;height:54px;background:url(img/bg-top-menu.png) 0 -54px no-repeat}
#top-menu ul{list-style-type:none;position:absolute;z-index:1;right:0}
#top-menu ul li{float:left;background:url(img/bg-top-menu.png) 0 -54px no-repeat;position:relative;margin-left:-25px}
#top-menu ul li:hover{float:left;background:url(img/bg-top-menu.png) 15px 0 no-repeat}
#top-menu ul li a{display:block;line-height:54px;font-weight:700;text-transform:uppercase;color:#74a1cb;text-decoration:none;padding:0 30px 0 60px}
#top-menu ul li a:hover{color:#fff}
.homepage a{background:url(img/elems.png) -415px 18px no-repeat}
.makesite a{background:url(img/elems.png) -365px -30px no-repeat}
.news a{background:url(img/elems.png) -315px -80px no-repeat}
.rules a{background:url(img/elems.png) -264px -131px no-repeat}
.faq a{background:url(img/elems.png) -214px -181px no-repeat}
.forum a{background:url(img/elems.png) -164px -230px no-repeat}
#main-left{float:left;width:280px;padding-top:380px}
.main-left-title{width:235px;height:44px;background:url(img/bg-main-left-title.png) 0 0 no-repeat;padding-left:45px;font-style:italic;font-size:15px;color:#fff;padding-top:7px;padding-bottom:5px;line-height:16px}
.main-left-title span{display:block;font-weight:700;font-size:20px;line-height:22px}
.main-left-under-title{font-size:11px;margin-bottom:15px;margin-left:45px}
.main-left-block{margin-left:45px;margin-bottom:20px}
#main-right{width:660px;overflow:hidden;padding-left:15px}
#main-right-top{height:145px;position:relative}
.make-site{display:block;position:absolute;width:357px;height:0;padding-top:70px;background:url(img/bg-make-site-new.png) 0 0 no-repeat;overflow:hidden;top:45px;right:0}

#main-right-topics{overflow:hidden;margin-bottom:25px;position:relative}
#main-right-topics ul{list-style-type:none;overflow:hidden}

#main-right-topics ul li {height:66px;float:left;width:50%;line-height:16px;font-style:italic;color:#585858;}
#main-right-topics ul li:hover {text-decoration:none;color:#c43901;}
#main-right-topics table td {vertical-align:middle;text-decoration:none;}
#main-right-topics li:hover table td {vertical-align:middle;text-decoration:none;}

.topic-pic{width:80px;height:66px}
.topic-01 .topic-pic{background:url(img/bg-topics.png) -10px center no-repeat}
.topic-01:hover .topic-pic{background:url(img/bg-topics.png) -110px center no-repeat}
.topic-02 .topic-pic{background:url(img/bg-topics.png) -210px center no-repeat}
.topic-02:hover .topic-pic{background:url(img/bg-topics.png) -310px center no-repeat}
.topic-03 .topic-pic{background:url(img/bg-topics.png) -410px center no-repeat}
.topic-03:hover .topic-pic{background:url(img/bg-topics.png) -510px center no-repeat}
.topic-04 .topic-pic{background:url(img/bg-topics.png) -610px center no-repeat}
.topic-04:hover .topic-pic{background:url(img/bg-topics.png) -710px center no-repeat}
.topic-05 .topic-pic{background:url(img/bg-topics.png) -810px center no-repeat}
.topic-05:hover .topic-pic{background:url(img/bg-topics.png) -910px center no-repeat}
.topic-06 .topic-pic{background:url(img/bg-topics.png) -1010px center no-repeat}
.topic-06:hover .topic-pic{background:url(img/bg-topics.png) -1110px center no-repeat}
.topic-07 .topic-pic{background:url(img/bg-topics.png) -1210px center no-repeat}
.topic-07:hover .topic-pic{background:url(img/bg-topics.png) -1310px center no-repeat}
.topic-08 .topic-pic{background:url(img/bg-topics.png) -1410px center no-repeat}
.topic-08:hover .topic-pic{background:url(img/bg-topics.png) -1510px center no-repeat}
.topic-09 .topic-pic{background:url(img/bg-topics.png) -1610px center no-repeat}
.topic-09:hover .topic-pic{background:url(img/bg-topics.png) -1710px center no-repeat}
.topic-10 .topic-pic{background:url(img/bg-topics.png) -1810px center no-repeat}
.topic-10:hover .topic-pic{background:url(img/bg-topics.png) -1910px center no-repeat}

.main-right-title{border-bottom:#b5b5b5 solid 1px;margin-top:15px;margin-bottom:10px;padding:3px 0}
.mr-right{font-size:11px;line-height:24px;float:right}
.question-title{padding-left:35px;background:url(img/elems.png) -145px -296px no-repeat;line-height:25px;margin-left:-10px}
.question-item-wrapper{background:url(img/bg-question-wrapper.png) left bottom no-repeat;margin-bottom:15px;margin-left:30px}
.question-item{padding-left:26px;background:url(img/bg-question-item.png) 0 0 no-repeat;padding-top:10px;padding-bottom:10px}
.form-row{overflow:hidden;margin-bottom:15px}
.form-row label{display:inline-block;min-width:100px;line-height:22px}
input[type=checkbox]{display:inline-block;vertical-align:middle}
input[type=radio]{display:inline-block;vertical-align:top;line-height:22px}
input[type=submit]{cursor:pointer;min-width:120px;padding:3px}
#footer-ghost{height:130px}
#footer{height:130px;position:relative;margin-top:-130px;background:url(img/bg-footer.jpg) center bottom no-repeat;overflow:hidden}
#fi-left{float:left;width:235px;padding-top:25px;padding-left:45px;text-align:left;font-size:11px;color:gray;}
#fi-left img{display:block;float:left;margin:0 20px 20px 0}
#fi-center{overflow:hidden;padding-left:15px;width:260px}
#fi-right{float:right;width:250px;padding-top:20px;font-size:11px;color:gray}
#fi-right a,#fi-left a {color:gray}
#footer-copyright{margin-top:25px;font-size:11px}
#main,#footer-inside{max-width:1000px;min-width:960px;margin:0 auto}
hr {width:100%;color:#95B5CC}

#main {overflow:hidden}
input[type=text],input[type=password],select{border:#ccc solid 2px;vertical-align:middle;padding:3px}
input[type=text]:focus,textarea:focus{border:#999 solid 2px;padding:3px}
input[type=password]:focus,textarea{border:#ccc solid 2px;padding:3px}

.tpltable {margin-top:15px}
.tpltable td {padding:10px 25px;background:#C4E8F8}
.tpltable td a {font-size:15px;text-decoration:none}
.tpltable td img {margin:10px 0 10px 0}
.domain {margin:20px;font-size:16px;background:#C2D6D5;padding:10px;width:300px}
.domain input {width:140px;text-align:center;height:22px;font-size:16px}
.error {border:1px solid red;margin:10px 0;padding:5px;background:#FFF4F0;color:red}
.error p{margin:5px;}
.tpltable td input {padding:3px}

#main-right #df ul li {list-style-type: none;margin:10px}
#main-right ol {margin-left:40px}
b, strong {font-weight: 700;color:gray}
ul.news li {color:gray}

.pages {margin:20px 10px}
.pages b {background:#295379;padding:2px 4px;border-radius:3px;color:#fff;font-weight:bold;margin:0 2px;font-size:15px !important}
.pages a {margin:0 2px;font-size:15px !important;padding:2px 4px}
.pages a:hover {background:#E3EDF6;border-radius:3px}
