{% load staticfiles i18n %}
<!DOCTYPE html>
<html>
<head>
{% block title %}<title>Как создать свой сайт? Бесплатный хостинг Okis.ru</title>{% endblock %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel='alternate' type='application/rss+xml' title='Новости сайта' href='/rss.php'>

<meta name='description' content='Если вы не знаете как создать свой сайт бесплатно, то наш конструктор сайтов для вас!' />
<meta name='keywords' content='создать сайт, создать сайт бесплатно, как создать свой сайт, как создать сайт бесплатно' />
</head>
<body>
<script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter5779099 = new Ya.Metrika({id:5779099, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/5779099" style="position:absolute;left:-9999px" alt="" /></div></noscript>
<div id="container">
<div id="header">
<a id="logo" href="/"></a>
<div id="top-menu">
<div id="top-menu-right"></div>
<ul>
<li class="homepage"><a href="/">Главная</a></li>
<li class="makesite"><a href="/reg..html">Создать сайт</a></li>
<li class="news"><a href="/allnews.0.html">Новости</a></li>
<li class="rules"><a href="/rules.html">Правила</a></li>
<li class="faq"><a href="/faq.html">FAQ</a></li>
<li class="forum"><a href="http://forum.okis.ru" target="_blank" rel="nofollow">Форум</a></li>
</ul>
</div>
</div>

{% block main %}
{% endblock %}

<div id="footer">
<div id="footer-inside">
<div id="fi-left"><script type="text/javascript">
<!--
var _acic={dataProvider:10};(function(){var e=document.createElement("script");e.type="text/javascript";e.async=true;e.src="//www2.acint.net/aci.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})()
//-->
</script> Мы поможем оформить договор аренды <a href="http://www.incom.ru/sale-realty/flats/" target="_blank">квартиры в Москве или в Подмосковье</a> в соответствии с нормативами. </div>
<div id="fi-right"></div>
<div id="fi-center">
<div id="footer-copyright">&copy; 2007-2014 Okis.ru &mdash; система создания сайтов.<br/> 
Сайт создан на базе сервиса <a href="/map.site.html">Okis.ru</a>.</div>
</div>
</div>
</div>
<script type="application/ld+json">{"@context":"http://schema.org","@type":"WebFormHandler","specificationUrl":"http://okis.ru/yform.xml"}</script>
</body>
</html>

