{% extends 'core/base.html' %}
{% block main %}
<div id="main">
<div id="main-left">

<div class="main-left-title">Другие полезные <span>сервисы</span></div><br/>
<!--div class="main-left-block"><a href="/catalog.php">Каталог сайтов системы Okis.</a></div-->
<div class="main-left-block"><a href="http://domains.okis.ru" target="_blank" rel="nofollow">Регистрация доменов <strong style="color:#1B3E6C">от 90 рублей в год</strong>! Получите имя для своего сайта.</a></div>
<div class="main-left-block"><a href="http://forum.okis.ru/viewtopic.php?f=9&amp;t=1198" target="_blank" rel="nofollow">Партнерская программа &mdash; <strong style="color:#1B3E6C">20% от всех платежей пользователей</strong>. Зарабатывайте вместе с нами!</a></div>

</div>
<div id="main-right">
<div id="main-right-top">
<a class="make-site" href="/reg..html">Создать сайт</a>
</div>

<h1>Пошаговое создание сайта</h1><div id='df'>




<h3><b>Шаг 1 из 5</b> &raquo; Выбор раздела бесплатных шаблонов</h3><table class='tpltable'><tr>
{% for template in templates %}

<h1>{{ template.name  }}</h1>
<td><a href='/choose_domain?theme=auto&template={{ template.name }}&template_id={{ template.id }}'><img src='/shablons/352/index.jpg'></a><br><a href='/shablons/352/big.jpg' target='_blank'>увеличить</a> / <a href='reg.352.1111.html' style='font-weight:bold'>выбрать</a></td>

{% endfor %}
<!--
<td><a href='reg.352.1111.html'><img src='/shablons/352/index.jpg'></a><br><a href='/shablons/352/big.jpg' target='_blank'>увеличить</a> / <a href='reg.352.1111.html' style='font-weight:bold'>выбрать</a></td><td><a href='reg.480.1111.html'><img src='/shablons/480/index.jpg'></a><br><a href='/shablons/480/big.jpg' target='_blank'>увеличить</a> / <a href='reg.480.1111.html' style='font-weight:bold'>выбрать</a></td><td><a href='reg.360.1111.html'><img src='/shablons/360/index.jpg'></a><br><a href='/shablons/360/big.jpg' target='_blank'>увеличить</a> / <a href='reg.360.1111.html' style='font-weight:bold'>выбрать</a></td></tr><tr>
<td><a href='reg.412.1111.html'><img src='/shablons/412/index.jpg'></a><br><a href='/shablons/412/big.jpg' target='_blank'>увеличить</a> / <a href='reg.412.1111.html' style='font-weight:bold'>выбрать</a></td><td><a href='reg.386.1111.html'><img src='/shablons/386/index.jpg'></a><br><a href='/shablons/386/big.jpg' target='_blank'>увеличить</a> / <a href='reg.386.1111.html' style='font-weight:bold'>выбрать</a></td><td><a href='reg.385.1111.html'><img src='/shablons/385/index.jpg'></a><br><a href='/shablons/385/big.jpg' target='_blank'>увеличить</a> / <a href='reg.385.1111.html' style='font-weight:bold'>выбрать</a></td></tr><tr>
<td><a href='reg.458.1111.html'><img src='/shablons/458/index.jpg'></a><br><a href='/shablons/458/big.jpg' target='_blank'>увеличить</a> / <a href='reg.458.1111.html' style='font-weight:bold'>выбрать</a></td><td><a href='reg.460.1111.html'><img src='/shablons/460/index.jpg'></a><br><a href='/shablons/460/big.jpg' target='_blank'>увеличить</a> / <a href='reg.460.1111.html' style='font-weight:bold'>выбрать</a></td><td><a href='reg.414.1111.html'><img src='/shablons/414/index.jpg'></a><br><a href='/shablons/414/big.jpg' target='_blank'>увеличить</a> / <a href='reg.414.1111.html' style='font-weight:bold'>выбрать</a></td></tr><tr>
<td><a href='reg.415.1111.html'><img src='/shablons/415/index.jpg'></a><br><a href='/shablons/415/big.jpg' target='_blank'>увеличить</a> / <a href='reg.415.1111.html' style='font-weight:bold'>выбрать</a></td><td><a href='reg.441.1111.html'><img src='/shablons/441/index.jpg'></a><br><a href='/shablons/441/big.jpg' target='_blank'>увеличить</a> / <a href='reg.441.1111.html' style='font-weight:bold'>выбрать</a></td><td><a href='reg.416.1111.html'><img src='/shablons/416/index.jpg'></a><br><a href='/shablons/416/big.jpg' target='_blank'>увеличить</a> / <a href='reg.416.1111.html' style='font-weight:bold'>выбрать</a></td></tr><tr>
<td><a href='reg.403.1111.html'><img src='/shablons/403/index.jpg'></a><br><a href='/shablons/403/big.jpg' target='_blank'>увеличить</a> / <a href='reg.403.1111.html' style='font-weight:bold'>выбрать</a></td><td><a href='reg.367.1111.html'><img src='/shablons/367/index.jpg'></a><br><a href='/shablons/367/big.jpg' target='_blank'>увеличить</a> / <a href='reg.367.1111.html' style='font-weight:bold'>выбрать</a></td><td><a href='reg.363.1111.html'><img src='/shablons/363/index.jpg'></a><br><a href='/shablons/363/big.jpg' target='_blank'>увеличить</a> / <a href='reg.363.1111.html' style='font-weight:bold'>выбрать</a></td></tr><tr>
<td><a href='reg.342.1111.html'><img src='/shablons/342/index.jpg'></a><br><a href='/shablons/342/big.jpg' target='_blank'>увеличить</a> / <a href='reg.342.1111.html' style='font-weight:bold'>выбрать</a></td><td><a href='reg.309.1111.html'><img src='/shablons/309/index.jpg'></a><br><a href='/shablons/309/big.jpg' target='_blank'>увеличить</a> / <a href='reg.309.1111.html' style='font-weight:bold'>выбрать</a></td><td><a href='reg.313.1111.html'><img src='/shablons/313/index.jpg'></a><br><a href='/shablons/313/big.jpg' target='_blank'>увеличить</a> / <a href='reg.313.1111.html' style='font-weight:bold'>выбрать</a></td></tr><tr>
<td><a href='reg.319.1111.html'><img src='/shablons/319/index.jpg'></a><br><a href='/shablons/319/big.jpg' target='_blank'>увеличить</a> / <a href='reg.319.1111.html' style='font-weight:bold'>выбрать</a></td>
--!>
</table><br><a href='reg..html'>Вернуться назад</a>.</div></div>
</div>
<div id="footer-ghost">
</div>
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29418855-1']);
  _gaq.push(['_setDomainName', 'okis.ru']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endblock %}

