{% extends 'core/base.html' %}
{% block main %}
<div id="main">
<div id="main-left">

<div class="main-left-title">Другие полезные <span>сервисы</span></div><br/>
<!--div class="main-left-block"><a href="/catalog.php">Каталог сайтов системы Okis.</a></div-->
<div class="main-left-block"><a href="http://domains.okis.ru" target="_blank" rel="nofollow">Регистрация доменов <strong style="color:#1B3E6C">от 90 рублей в год</strong>! Получите имя для своего сайта.</a></div>
<div class="main-left-block"><a href="http://forum.okis.ru/viewtopic.php?f=9&amp;t=1198" target="_blank" rel="nofollow">Партнерская программа &mdash; <strong style="color:#1B3E6C">20% от всех платежей пользователей</strong>. Зарабатывайте вместе с нами!</a></div>

</div>
<div id="main-right">
<div id="main-right-top">
<a class="make-site" href="/reg..html">Создать сайт</a>
</div>

<h1>Пошаговое создание сайта</h1><div id='df'>          <h3><b>Шаг 2 из 5</b> &raquo; Выбор бесплатного доменного имени</h3>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send message" />
</form>

<!--
            <form action="{% url 'choose_domain' %}" method="get">
            {% csrf_token %}
            <input type='hidden' name='reg_shablon' value='480'>
            <div class="domain">http://www. <input id="domain" type="text" name="domain" value='my-domain' maxlength="14"> .okis.ru</div>
            {{ form }}
            <input type="submit" value='Перейти к следующему шагу &raquo;' style='padding:3px'>
            </form>

--!>
</div></div>
</div>
<div id="footer-ghost">
</div>
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29418855-1']);
  _gaq.push(['_setDomainName', 'okis.ru']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endblock %}
