{% load staticfiles i18n %}
<!DOCTYPE html>
<html>
<head>
<title>Как создать свой сайт? Бесплатный хостинг Okis.ru</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel='alternate' type='application/rss+xml' title='Новости сайта' href='/rss.php'>

<meta name='description' content='Если вы не знаете как создать свой сайт бесплатно, то наш конструктор сайтов для вас!' />
<meta name='keywords' content='создать сайт, создать сайт бесплатно, как создать свой сайт, как создать сайт бесплатно' />
</head>
<body>
<script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter5779099 = new Ya.Metrika({id:5779099, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/5779099" style="position:absolute;left:-9999px" alt="" /></div></noscript>
<div id="container">
<div id="header">
<a id="logo" href="/"></a>
<div id="top-menu">
<div id="top-menu-right"></div>
<ul>
<li class="homepage"><a href="/">Главная</a></li>
<li class="makesite"><a href="/reg..html">Создать сайт</a></li>
<li class="news"><a href="/allnews.0.html">Новости</a></li>
<li class="rules"><a href="/rules.html">Правила</a></li>
<li class="faq"><a href="/faq.html">FAQ</a></li>
<li class="forum"><a href="http://forum.okis.ru" target="_blank" rel="nofollow">Форум</a></li>
</ul>
</div>
</div>
<div id="main">
<div id="main-left">

<meta name='yandex-verification' content='64dd9423dfe76d2e' />
<div class="main-left-title">Примеры созданных у нас <span>интернет-сайтов</span></div><br/>
<div class="main-left-block"><a href="http://intomoda.ru/" target="_blank" rel="nofollow"><img src="/images/sites/ss1.jpg" height="150" width="214" border="0"></a></div>
<div class="main-left-block"><a href="http://heroes.okis.ru/" target="_blank" rel="nofollow"><img src="/images/sites/ss2.jpg" height="150" width="215" border="0"></a></div>
<div class="main-left-block"><a href="http://photoshoprnd.ru" target="_blank" rel="nofollow"><img src="/img/okis_ru/sss9.jpg" height="122" width="215" border="0"></a></div>


</div>
<div id="main-right">
<div id="main-right-top">
<a class="make-site" href="/reg..html">Создать сайт</a>
</div>

<div id="main-right-topics" style="margin-top:30px">
<ul>
<li class="topic-01"><table><tr><td class="topic-pic"></td><td> С нашей помощью уже было создано <strong style='color:#9E2B46'>645210</strong> сайтов!</td></tr></table></li>
<li class="topic-06"><table><tr><td class="topic-pic"></td><td>Рассылка подписчикам и RSS канал анонсов новостей.</td></tr></table></li>
<li class="topic-02"><table><tr><td class="topic-pic"></td><td>Бесплатный хостинг с неограниченным трафиком и дисковым пространством.</td></tr></table></li>
<li class="topic-07"><table><tr><td class="topic-pic"></td><td>SEO-анализ страниц сайта &mdash; поисковики вас полюбят.</td></tr></table></li>
<li class="topic-03"><table><tr><td class="topic-pic"></td><td>Бесплатный модуль интернет-магазина. Создай свой бизнес!</td></tr></table></li>
<li class="topic-08"><table><tr><td class="topic-pic"></td><td>Возможность загрузки на сайт документов, изображений, небольших архивов и других файлов!</td></tr></table></li>
<li class="topic-04"><table><tr><td class="topic-pic"></td><td>Веб-форма обратной связи &mdash; полное отсутствие спама!</td></tr></table></li>
<li class="topic-09"><table><tr><td class="topic-pic"></td><td>Система управления сайтом, оптимизированная под поисковые системы.</td></tr></table></li>
<li class="topic-05"><table><tr><td class="topic-pic"></td><td>Возможность подключить свое собственное доменное имя.</td></tr></table></li>
<li class="topic-10"><table><tr><td class="topic-pic"></td><td>Удобный модуль фотогалереи.</td></tr></table></li>
</ul>
</div>

<!--div style="text-align:center;padding:10px 0 5px;background:#E8EDF1">
<a href='http://pro-okis.ru' rel='nofollow' target='_blank'><img src="/img/okis_ru/banner-pro-okis.png" width=468 height=60></a>
</div-->

<!--div style="text-align:center;padding:10px 0 5px;background:#E8EDF1">
</div-->

<div class="main-right-title">
<a href="/faq.html" class="mr-right">Смотреть все вопросы и ответы</a>
<h1>Популярные вопросы</h1>
</div>
<div class="question-title">
<h2>Создание сайта бесплатное или нужно за что-то платить?</h2>
</div>
<div class="question-item-wrapper">
<div class="question-item">
Создание сайта является полностью бесплатным, однако вы всегда можете воспользоваться &laquo;платным тарифом&raquo;, который позволит отключить всю возможную рекламу на вашем ресурсе, в том числе и наши копирайты.
</div>
</div>

<div class="question-title">
<h2>Можно ли создать в системе свой интернет-магазин?</h2>
</div>
<div class="question-item-wrapper">
<div class="question-item">
Да, мы предоставляем полнофункциональный сервис интернет-магазина, который включает в себя не только возможность создавать каталог товаров, но и устраивать различные акции, создавать промо-коды, управлять заказами и т. д.
</div>
</div>

<div class="question-title">
<h2>Как продвигать свой ресурс?</h2>
</div>
<div class="question-item-wrapper">
<div class="question-item">
После создания сайта с помощью нашей системы, вы можете не только в один клик запустить контекстную рекламу, но и начать продвижение в поисковых системах с помощью одного из крупнейших агрегаторов. И все это прямо из вашего личного кабинета! 
</div>
</div>

</div>
</div>
<div id="footer-ghost">
</div>
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29418855-1']);
  _gaq.push(['_setDomainName', 'okis.ru']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<div id="footer">
<div id="footer-inside">
<div id="fi-left"><script type="text/javascript">
<!--
var _acic={dataProvider:10};(function(){var e=document.createElement("script");e.type="text/javascript";e.async=true;e.src="//www2.acint.net/aci.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})()
//-->
</script> Мы поможем оформить договор аренды <a href="http://www.incom.ru/sale-realty/flats/" target="_blank">квартиры в Москве или в Подмосковье</a> в соответствии с нормативами. </div>
<div id="fi-right"></div>
<div id="fi-center">
<div id="footer-copyright">&copy; 2007-2014 Okis.ru &mdash; система создания сайтов.<br/> 
Сайт создан на базе сервиса <a href="/map.site.html">Okis.ru</a>.</div>
</div>
</div>
</div>
<script type="application/ld+json">{"@context":"http://schema.org","@type":"WebFormHandler","specificationUrl":"http://okis.ru/yform.xml"}</script>
</body>
</html>


